.addCommentWrapper {
    position: absolute;
    right: 0;
    top: 30%;
    transform: translateY(-50%);
    width: '18rem';
    z-index: 1000;
    background-color: white;
    padding: 10px;
    border: 1px solid var(--ds-border,#dfe1e6);
    box-shadow: var(--ds-shadow-overflow,0 8px 16px -4px rgba(9,30,66,0.25));
  }

  .commentsCard {
    width: 18rem;
  }

  .btn-primary {
    background-color: #0052CC !important;
    font-weight: 500;
    font-size: 12px;
    padding: 4px 12px;
  }

  .btn-close {
    font-size: 12px;
  }

  .headerWrapper {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
  }

  .addCommentHeader {
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 500;
  }

  .saveButtonWrapper {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0px;
  }

  .saveButton {
    font-size: 12px;
    padding: 4px 12px;
  }

  textarea::placeholder {
    font-size: 12px;
  }