.editDraftWrapper {
    width: 80%;
    padding: 20px;
  }

  .headerWrapper {
    display: flex;
    justify-content: space-between;
  }

  .draftTitle {
    font-size: 24px;
    font-weight: bold;
  }

  .editArea {
    background-color: rgba(217, 245, 255,0.5);
    padding: 10px;
}

.saveDraftButton, .cancelDraftButton {
  margin: 7px;
}