.addedCommentsWrapper {
    position: absolute;
    right: 0;
    top: 30%;
    transform: translateY(-50%);
    width: '18rem';
    z-index: 1000;
    border: 1px solid var(--ds-border,#dfe1e6);
    box-shadow: var(--ds-shadow-overflow,0 8px 16px -4px rgba(9,30,66,0.25));
}

.addedCommentsCardHeader {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.addedCommentsHeader {
    font-size: 14px;
    padding: 10px;
    font-weight: 500;
}

.addedCommentsCloseButton {
    margin: 10px;
}