.addedCommentsWrapper {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: '18rem';
    z-index: 1000
}

.addedCommentsCardHeader {
    display: flex;
    justify-content: space-between;
  }